<nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="#">Ultrasound</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Ultrasound</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li>
            <a href="/hcid">GHC</a>
            <i class='bx bxs-chevron-down first-arrow arrow  '></i>
            <ul class="first-sub-menu sub-menu">
              <li><a href="/hcid">Registration</a></li>
              <li><a href="/hcid/profileUpdate">Profile Update</a></li>
              <li><a href="/hcid/Deactivation">Deactivation</a></li>
              <li><a href="/hcid/Reactivation">Reactivation</a></li>
            </ul>
          </li>
          <li>
            <a href="/ucid">PUC</a>
            <i class='bx bxs-chevron-down second-arrow arrow '></i>
            <ul class="second-sub-menu sub-menu">
              <li><a href="/ucid">Registration</a></li>
              <li><a href="/ucid/profileUpdate">Profile Update</a></li>
              <li><a href="/ucid/Deactivation">Deactivation</a></li>
              <li><a href="/ucid/Reactivation">Reactivation</a></li>
            </ul>
          </li>
          <li>
            <a href="/roid">RO</a>
            <i class='bx bxs-chevron-down third-arrow arrow '></i>
            <ul class="third-sub-menu sub-menu">
              <li><a href="/roid">Registration</a></li>
              <li><a href="/Ro/profileUpdate">Profile Update</a></li>
              <li><a href="/Ro/Deactivation">Deactivation</a></li>
              <li><a href="/Ro/Reactivation">Reactivation</a></li>
            </ul>
          </li>
           <li>
            <a href="/PUC/Report_input">Report Generation</a>
            <i class='bx bxs-chevron-down fourth-arrow arrow '></i>
            <ul class="fourth-sub-menu sub-menu">
              <li><a href="/PUC/Report_input">PUC Reports</a></li>
              <li><a href="/GHC/Report_input">GHC Reports</a></li>
              <li><a href="/Beneficiary/Report_input">Beneficiary Reports</a></li>
              <li><a href="/Token/Report_input">Token Reports</a></li>
            </ul>
          </li>
          <li>
            <a href="/Token/StatusCheck_input">Check Status</a>
            <i class='bx bxs-chevron-down fifth-arrow arrow '></i>
            <ul class="fifth-sub-menu sub-menu">
              <li><a href="/Beneficiary/StatusCheck_input">Beneficiary Status Check</a></li>
              <li><a href="/Token/StatusCheck_input">Token Status Check</a></li>
            </ul>
          </li>
          <li><a href="/admin_logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>