<nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="#">Health Centre</a></div>
      <div class="nav-links">
        <div class="sidebar-logo">
          <span class="logo-name">Health Centre</span>
          <i class='bx bx-x' ></i>
        </div>
        <ul class="links">
          <li>
            <a href="/health-centre/beneficiary/registration">Beneficiary</a>
            <i class='bx bxs-chevron-down first-arrow arrow  '></i>
            <ul class="first-sub-menu sub-menu">
              <li><a href="/health-centre/beneficiary/registration">Registration</a></li>
              <li><a href="/health-centre/beneficiary/profileUpdate">Profile Update</a></li>
              <li><a href="/health-centre/beneficiary/Deactivation">Deactivation</a></li>
              <li><a href="/health-centre/beneficiary/Reactivation">Reactivation</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Check Status</a>
            <i class='bx bxs-chevron-down second-arrow arrow '></i>
            <ul class="second-sub-menu sub-menu">
              <li><a href="#">Beneficiary status check</a></li>
              <li><a href="#">Token status check</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Reports</a>
            <i class='bx bxs-chevron-down third-arrow arrow '></i>
            <ul class="third-sub-menu sub-menu">
              <li><a href="#">Self beneficiary reports</a></li>
              <li><a href="#">Self Token Reports</a></li>
            </ul>
          </li>
          <li><a href="/health-centre/beneficiary/Token-generation">Token Generation</a></li>
          <li><a href="/healthCentre_logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>