<nav class="navbar">
		<a href="#" class="brand"><svg xmlns="http://www.w3.org/2000/svg" width="20" style="color: wheat;" height="20" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
</svg> Ultrasound</a>
		<input type="checkbox" id="toggler">
		<label for="toggler"><div class="bbttn"><i class="fa-solid fa-bars"></i></div></label>
		<div class="menu">
			<ul class="list">
				<li><a href="/"><i class="bi bi-house-door"></i></i> Home</a></li>
				<li><a href="/hcid">Health Centre Registration</a></li>
				<li><a href="/ucid">Ultrasound centre Registration</a></li>
				<li><a href="/admin_logout">Logout <i class="bi bi-arrow-left-circle-fill"></i></a></li>
			</ul>
		</div>
	</nav>
	