<nav>
<div class="navbar">
<i class="bx bx-menu"></i>
<div class="logo"><a href="#">Ultrasound Centre</a></div>
<div class="nav-links">
    <div class="sidebar-logo">
    <span class="logo-name">Ultrasound Centre</span>
    <i class="bx bx-x"></i>
    </div>
    <ul class="links">
    <li>
        <a href="#">Token</a>
        <i class="bx bxs-chevron-down first-arrow arrow"></i>
        <ul class="first-sub-menu sub-menu">
        <li><a href="#">Check Status</a></li>
        <li><a href="/UC/beneficiary/Token-transfer">Token Transfer Request</a></li>
        <li><a href="/UC/beneficiary/Token-completion">Token Completion Claim</a></li>
        <li><a href="/UC/beneficiary/Token-releaseRequest">Token Release Request</a></li>
        </ul>
    </li>
    <li><a href="#">Token Report Generation</a></li>
    <li><a href="/UC/logout">Logout</a></li>
    </ul>
</div>
</div>
</nav>