nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 70px;
    background: #353535;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 99;
  }
  nav .navbar{
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
  }
  .navbar .logo a{
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .navbar .logo a:hover{
    color: rgb(202, 197, 197);
    transition: all 0.3s linear;
  }
  nav .navbar .nav-links{
    line-height: 70px;
    height: 100%;
  }
  nav .navbar .links{
    display: flex;
  }
  nav .navbar .links li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0 14px;
    transition: 0.5s;
  }
  nav .navbar .links li a{
    height: 100%;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  nav .navbar .links li::after {
    position: absolute;
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;
  }
  nav .navbar .links li:hover {
    color: #fff;
  }
  nav .navbar .links li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .links li:hover .first-arrow,
  .links li:hover .second-arrow,
  .links li:hover .third-arrow,
  .links li:hover .fourth-arrow,
  .links li:hover .fifth-arrow{
    transform: rotate(180deg);
    }
  
  nav .navbar .links li .arrow{
    height: 100%;
    width: 22px;
    line-height: 70px;
    text-align: center;
    display: inline-block;
    color: #fff;
    transition: all 0.3s ease;
  }
  nav .navbar .links li .sub-menu{
    position: absolute;
    top: 70px;
    left: 0;
    line-height: 40px;
    background: #353535;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  nav .navbar .links li:hover .first-sub-menu,
  nav .navbar .links li:hover .second-sub-menu,
  nav .navbar .links li:hover .third-sub-menu,
  nav .navbar .links li:hover .fourth-sub-menu,
  nav .navbar .links li:hover .fifth-sub-menu{
    display: block;
  }
  .navbar .links li .sub-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  .navbar .links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
  }
  .links li .sub-menu .more:hover .more-sub-menu{
    display: block;
  }
  .navbar .nav-links .sidebar-logo{
    display: none;
  }
  .navbar .bx-menu{
    display: none;
  }
  @media (max-width:1250px) {
    nav .navbar{
      max-width: 100%;
      padding: 0 25px;
    }
    nav .navbar .logo a{
      font-size: 27px;
    }
    nav .navbar .links li{
      padding: 0 10px;
      white-space: nowrap;
    }
    nav .navbar .links li a{
      font-size: 15px;
    }
  }
  @media (max-width:1250px){
    
  
    .navbar .bx-menu{
      display: block;
    }
    nav .navbar .nav-links{
      position: fixed;
      top: 0;
      left: -100%;
      display: block;
      max-width: 270px;
      width: 100%;
      background:  #353535;
      line-height: 40px;
      padding: 20px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      transition: all 0.5s ease;
      z-index: 1000;
    }
    .navbar .nav-links .sidebar-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .sidebar-logo .logo-name{
      font-size: 25px;
      color: #fff;
    }
      .sidebar-logo  i,
      .navbar .bx-menu{
        font-size: 25px;
        color: #fff;
      }
    nav .navbar .links{
      display: block;
      margin-top: 20px;
    }
    nav .navbar .links li .arrow{
      line-height: 40px;
    }
  nav .navbar .links li{
      display: block;
    }
  nav .navbar .links li .sub-menu{
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li{
    border-bottom: none;
  
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .first-arrow,
  .links li:hover .second-arrow,
  .links li:hover .third-arrow,
  .links li:hover .fourth-arrow,
  .links li:hover .fifth-arrow{
    transform: rotate(0deg);
    }
    .navbar .links li .sub-menu .more-sub-menu{
      display: none;
    }
    .navbar .links li .sub-menu .more span{
      display: flex;
      align-items: center;
    }
  
    .links li .sub-menu .more:hover .more-sub-menu{
      display: none;
    }
    nav .navbar .links li:hover .first-sub-menu,
    nav .navbar .links li:hover .second-sub-menu,
    nav .navbar .links li:hover .third-sub-menu,
    nav .navbar .links li:hover .fourth-sub-menu,
    nav .navbar .links li:hover .fifth-sub-menu{
      display: none;
    }
   .navbar .nav-links.show1 .links .first-sub-menu,
    .navbar .nav-links.show2 .links .second-sub-menu,
    .navbar .nav-links.show3 .links .third-sub-menu,
    .navbar .nav-links.show4 .links .fourth-sub-menu,
    .navbar .nav-links.show5 .links .fifth-sub-menu{
        display: block;
      }
      .navbar .nav-links.show1 .links .first-arrow,
      .navbar .nav-links.show2 .links .second-arrow,
      .navbar .nav-links.show3 .links .third-arrow,
      .navbar .nav-links.show4 .links .fourth-arrow,
      .navbar .nav-links.show5 .links .fifth-arrow{
          transform: rotate(180deg);
  }
  }
  @media (max-width:370px){
    nav .navbar .nav-links{
    max-width: 100%;
  } 
  }
  .links a {
    position: relative;
    text-decoration: none;
  }
  
  .links a:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
  .links a:hover:after, .links a:active:after {
    width: 100%;
  }

  